<div class="about container-fluid px-4">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h1 class="pb-5">Munkatársaink: </h1>
        </div>
    </div>

    <div class="row about-worker px-3">
        <div class="about-worker-pic col-12 col-md-6 col-lg-4 text-center pt-6">
            <img src="\assets\woman-cv.png" 
                    alt="Munkatársunk Kisasszony mosolyog a képen"
                    class="img-fluid ">
        </div>
        <div class="about-worker-text col-12 col-md-6 col-lg-8 p-4 my-3">
            <h2>Jane Doe</h2>
            <h3> Gyógymasszőr </h3>
            <p>
                Kedves dinamikus nő vagyok aki 2015-ben kezdte a pályafutását. 2019-ig kórházban dolgoztam gyógymasszőrként majd magánvállalkozásba fogtunk egy barátommal és megalapítottuk az NgMassage stúdiót ahova várunk téged is szeretettel! </p>
                <h3>Kompetenciáim: </h3>
                    <ul>
                        <li>Gyógymasszőri 54 OKJ</li>
                        <li>Sportmasszőri 54 OKJ</li>
                        <li>Yumenhoo certificate</li>
                        <li>Kinesiotape certificate</li>
                    </ul>
        </div>
    </div>

    <div class="row about-worker">
        <div class="about-worker-pic col-12 col-md-6 col-lg-4 text-center pt-6">
            <img src="\assets\me-cv.png" 
                    alt="Popovics Péter fehér ingeben és nadrágban."
                    class="img-fluid ">
        </div>
        <div class="about-worker-text col-12 col-md-6 col-lg-8 p-4 my-3">
            <h2>Popovics Péter</h2>
            <h3>Gyógymasszőr</h3>
            <h3>Kompetenciáim: </h3>
                <ul>
                    <li>gyógymasszőr 54 OKJ</li>
                </ul>

                    
        </div>

        <h2 class="text-center">Motivációim <span *ngIf="!isLogedIn">(jelentkezz be!)</span></h2>
        <div class="col-12 mt-5 mb-3" *ngIf="isLogedIn">
            <div class="motivation px-3">
                <p>Tizenegy éve dolgozom az állami szektorban hivatásos katonaként. A hadseregnél híradás és infokommunikációs ágazatban teljesítek szolgálatot, váltásos munkarendben. Továbbá három éve másodállásban is dolgozom, mint gyógymasszőr. Az utóbbi évek ráébresztettek, hogy az állami szektorban nem lelem az örömömet, így motivációm sincs a folytatásához. </p>

                <p>2018 decembere óta dolgozom Budapesten, ezzel szélesítve a lehetőségeimet a tanulásra és az új dolgokkal való megismerkedésre. A COVID-19 járvány alatt találtam rá a webfejlesztésre, amely megtetszett és elvégeztem egy frontend junior programozói tanfolyamot. Ismereteimet a projektmunkájámban prezentálom. </p>
                
                <p>A közeljövőben gondolkodom PHP és SQL tanfolyamok elvégzésén. Jelenleg angol tanfolyamon veszek részt, hogy szükség szerint a programtervező informatikai szakra tudjak felvételizni.</p>

                <p>Szeretnék az informatika világában elhelyezkedni és a versenyszférában dolgozni. Nagyon szimpatikusnak találom a munkakör fejlődéssel szembeni elvárásait valamint, hogy folyamatos naprakészséget igényel. </p>
            </div>
        </div>
    </div>
    
</div>

    

