<div class="about container-fluid px-4">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h1 class="pb-5">Munkatársaink: </h1>
        </div>
    </div>

    <div class="row about-worker px-3">
        <div class="about-worker-pic col-12 col-md-6 col-lg-4 text-center pt-6">
            <img src="\assets\woman-cv.png" 
                    alt="Munkatársunk Kisasszony mosolyog a képen"
                    class="img-fluid ">
        </div>
        <div class="about-worker-text col-12 col-md-6 col-lg-8 p-4 my-3">
            <h2>Példa Kisasszzony</h2>
            <h3> Gyógymasszőr </h3>
            <p>
                Kedves dinamikus nő vagyok aki 2015-ben kezdte a pályafutását. 2019-ig kórházban dolgoztam gyógymasszőrként majd magánvállalkozásba fogtunk egy barátommal és megalapítottuk az NgMassage stúdiót ahova várunk téged is szeretettel! </p>
                <h3>Kompetenciáim: </h3>
                    <ul>
                        <li>Gyógymasszőri 54 OKJ</li>
                        <li>Sportmasszőri 54 OKJ</li>
                        <li>Yumenhoo certificate</li>
                        <li>Kinesiotape certificate</li>
                    </ul>
        </div>
    </div>

    <div class="row about-worker">
        <div class="about-worker-pic col-12 col-md-6 col-lg-4 text-center pt-6">
            <img src="\assets\me-cv.png" 
                    alt="Popovics Péter fehér ingeben és nadrágban."
                    class="img-fluid ">
        </div>
        <div class="about-worker-text col-12 col-md-6 col-lg-8 p-4 my-3">
            <h2>Popovics Péter</h2>
            <h3>junior frontEnd programozó</h3>
            <h3>Kompetenciáim: </h3>
                <ul>
                    <li>honvéd altiszt 52 OKJ</li>
                    <li>gyógymasszőr 54 OKJ</li>
                    <li>junior frontEnd programozó 54 OKJ</li>
                    <li>STANAG 1111 szakmai angol alapfokú nyelvvizsga</li>
                </ul>
        </div>
    </div>
    
</div>

    

