<div class="contact">
    <h1>Elérhetőségeink</h1>
    <div class="col-12 contact-box">
        
        <div class="contact-box-pic my-2">
            <img src="\assets\contact.png" alt="iránytű" class="img-fluid">
        </div>
        <div class="contact-box-text my-2">
            <p><i class="fa-solid fa-phone"></i> :  +36 50 / 987-1234</p>
            <p><i class="fa-solid fa-envelope"></i> :  massage@massage.com</p>
            <p><i class="fa-solid fa-location-dot"></i> : 10999 Budapest.... </p>
        </div>
    </div>
</div>
