<main class="home">

    <section class="home-great section-one">
        <h1>NgMasszázs</h1>
        <q>Ép testben ép lélek.</q>
    </section>


    <section class="home-intro">
        <div class="home-intro-text">
            <h2>Popovics Péter vagyok, okleveles gyógymasszőr.</h2>
            <p>Egészségtudatos embereknek segítek, hogy energikusabban és fájdalom nélkül élhessék az életüket.</p>

            <app-btn text="ABOUT" link="/about"></app-btn>

        </div>
        <div class="home-intro-img"> 
            <img src="/assets/ngmassage-home-welcome.jpg"
                 alt="Popovics Péter"
                 >
                </div>
    </section>

    <div class="home-divider-top">
        
    </div>

    <section class="home-offer">

        <div class="home-offer-img">
            <img src="/assets/massage-bg-2.jpg" alt="Masszázs felirat">
        </div>

        <div class="home-offer-text">
            <h2>Miben segíthetek?</h2>
            <ul>
                <li>A mozgás szervrendszerének és az idegrendszernek a támogatásában több alternatívával.</li>
                <li>Szakmai tanácsadással az esetleges mozgásszervi problémák kezelésében.</li>
                <li>A rehabilitációban.</li>
                <li>Általános közérzetjavításban és stresszoldásban.</li>
            </ul>

            <app-btn text="SZOLGÁLTATÁSOK" link="/services"></app-btn>

            <h3>Hogyan segíthetek?</h3>
        </div>           

    </section>

    <div class="home-divider-bottom">
        
    </div>

    <section class="home-icons">

        <div class="home-icons-strech">
            <a  routerLink="/services"><img src="/assets/strech.png" alt="nyújtás"></a>
            <p>Nyújtással</p>
        </div>

        <div id="massage" class="home-icons-massage">
            <a routerLink="/services/0"><img src="/assets/massage-icon.png" alt="masszázs"></a>
            <p>Masszázzsal</p>
        </div>

        <div id="vpk" class="home-icons-vpk">
            <a routerLink="/services"><img src="/assets/VPK.png" alt="vezetett passzív kimozgatás"></a>
            <p>vezetett passzív kimozgatással</p>
        </div>
    </section>

    <div id="vpk-mobile">
        <a routerLink="/services"><img src="/assets/VPK.png" alt="vezetett passzív kimozgatás"></a>
        <p>vezetett passzív kimozgatással</p>
    </div>

    <div class="lareg-button">
        
    </div>

    <section class="home-map">
        <img src="" alt="">
    </section>

</main>
